# If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/env.js"
# should be updated accordingly.

# supabase
# NEXT_PUBLIC_SUPABASE_URL=<your_supabase_project_url>
# NEXT_PUBLIC_SUPABASE_ANON_KEY=<your_supabase_anon_key>
# SUPABASE_SERVICE_ROLE_KEY=<your_supabase_service_role_key>

# email
# RESEND_API_KEY=<your_key_here>

# payment gateway
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=<your_key_here>
# STRIPE_SECRET_KEY=<your_key_here>

# IP info
# NEXT_PUBLIC_IP_INFO_API_KEY=<your_key_here>

# app urls
# NEXT_PUBLIC_APP_URL="https://ele-store.netlify.app"

# updates email => default
# NEXT_PUBLIC_UPDATES_EMAIL_ADDR="Acme <onboarding@resend.dev>"